:root {
  --bg-color: #23252c;
  --card-color: #1a1b21;
  --text-color: #ffffff;
  --description: #dcdcdc;
  --icon-color: #918e9b;
  --highlight: #f3bf99;
  --linkedin: #5093e2;
  --footer: #161619;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 317px;
  height: 780px;
}

.card {
  background: var(--card-color);
  border-radius: 1.5rem;
}

.cardTop img {
  width: 100%;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.cardBottom {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.linkedin {
  color: var(--text-color);
  background: var(--linkedin);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.title h1 {
  font-size: 1.5rem;
}

.title span {
  color: var(--highlight);
}

.title small a {
  color: var(--text-color);
  border-bottom: 0.1rem solid var(--text-color);
}

.title small a:hover {
  color: var(--highlight);
  border-bottom: 0.1rem solid var(--highlight);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

button {
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 1.5rem;
}

.info h2 {
  font-size: 1.2rem;
}

.info p {
  font-size: 0.7rem;
  color: var(--description);
  margin-top: .4rem;
}

footer {
  background: var(--footer);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.social i {
  font-size: 2rem;
  color: var(--icon-color);
}

.social i:hover {
  color: var(--highlight);
}
